<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.github.anthonyeef.cattle"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.BaseActivity"/>

        <activity
            android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.StatusDetailActivity" />

        <activity
            android:name=".activity.ProfileActivity"
            >
            <intent-filter>
                <data
                    android:host="profile"
                    android:scheme="cat"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AlbumActivity"
            />

        <activity
            android:name=".activity.FollowerListActivity"
            />

        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <data
                    android:host="oauth.success"
                    android:scheme="cat"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ComposeActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".activity.DebugActivity"/>

        <activity android:name=".activity.TestFieldActivity"/>

        <activity android:name=".activity.DebugSettingActivity"/>
    </application>

</manifest>